.header_img {  
    height: 45px;
    width: auto;
    display: block;
    margin-top: -45px;
    margin-left: 125px;
}

.flecha {
    background-color: white;
    background-image: url(..//iconos/flecha_1.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 0;
    height: 50px;
    width: auto;
}

.modal-body{
    padding: 25px;
}

.modal-content {
    width: 450PX;
    border-radius: 3rem !important;
    border-top: 0 none;
    box-shadow: 5px 5px 20px #c7ced6;
}

.modal-footer {
    justify-content: center;
    border-top: 0 none;
}

.modal-header {
    border-bottom: 0 none;
}

.exitoso{
    height: 95px;
    width: 95px;
    display: block;
    
}

.text-4 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    color: #424242;
    text-align: center;
}

.modal-backdrop {
    background-color: #ea6416;
}